.sidebar {
  background: var(--light);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.sidebar ul {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  display: block;
  padding: 10px;
}

.sidebar ul li span {
  color: var(--primary);
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
