.donation input[type="text"],
.donation input[type="number"] {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

.donation input[type="submit"],
.donation button {
  background: var(--primary);
  font-weight: bold;
  padding: 10px;
}
